<!DOCTYPE html>
<html>
<head>
{% load static %}
<meta charset="utf-8" />
<!-- Bootstrap -->
<link href="{% static 'JA/vendor/bootstrap/css/bootstrapp.min.css'%}" rel="stylesheet">

<!-- Fonts -->
    
<link href="https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap" rel="stylesheet"> 
<link href="https://fonts.googleapis.com/css?family=Lora:400,400i,700,700i" rel="stylesheet">

<link href="{% static 'JA/css/gestion.css'%}" rel="stylesheet">
<link href="{% static 'JA/css/styleguide.css'%}" rel="stylesheet">
</head>
<body>
  <div class="pgina-de-inicio">
  <div class="div">
  <div class="pruebaf">
    
    
    

  </div>
  {% block content %}
  {% endblock%}
  <div class="frame-3">
  <img class="logo" src="{% static 'JA/img/cabecera1.jpg' %}"/>
  <img class="logoc" src="{% static 'JA/img/cabeceraCentral.jpg' %}"/>
  <img class="logof" src="{% static 'JA/img/cabeceraFinal.jpg' %}"/>
  <div class="text-wrapper-3" style="margin-left: 200px; margin-top: 20px;"><button type="submit" class="btn btn-success" style="margin-top: -5px; margin-bottom: 15px;background-color:rgba(26, 53, 199, 1); border-radius: 10px; color: #FBF707; width: 90%;font-size: 20px;"><a href="{% url 'Listar Socios' %}" style="color: #FBF707;">Usuarios</a></button></div>
  <div class="text-wrapper-4" style="margin-left: 125px;margin-top: 20px"><button type="submit" class="btn btn-success" style="margin-top: -5px; margin-bottom: 15px;background-color:rgba(26, 53, 199, 1); border-radius: 10px; color: #FBF707; width: 90%;font-size: 20px;"><a href="{% url 'Mostrar Usuarios Socios' %}" style="color: #FBF707">Socios</a></button></div>
  <div class="text-wrapper-5" style="margin-top: 20px;"><button type="submit" class="btn btn-success" style="margin-top: -5px; margin-bottom: 15px;background-color:rgba(26, 53, 199, 1); border-radius: 10px; color: #FBF707; width: 90%;font-size: 20px;"><a href="{% url 'Incripciones Abiertas' %}" style="color: #FBF707">Ruta</a></button></div>
  </div>
  </div>
  </div>
  </body>