{% extends "jovenesAventureros/base.html" %}

{% load static %}

{% block content %}
<p class="p"></p>
  <div class="overlap-group">
  <div class="frame">
  <p class="futplayful">
  FutPlayful Predictions es un web de prediciones deportivas, que haciendo uso de técnicas de aprendizaje
  automático conseguimos devolver predicciones de partidos de la Primera y Segunda División indicando el resultado del partido
  mediante <br />1 -&gt; Local<br />X-&gt; Empate<br />2 -&gt; Visistante<br>
  Además cuenta con la funcionalidad de poder comparar equipos de ambas ligas y realizar una porra de las diferentes Quinielas que ofrecemos
  </p>
  </div>
  <img class="image" src="{% static 'JA/img/LogoJ.png' %}" />
  </div>
<div class="bo">
    
</div>
{% endblock %}  
