{% extends "jovenesAventureros/base.html" %}

{% load static %}

{% block content %}
  <p class="p"></p>
  <div class="overlap-group">
    <div class="contenedorFormularioPerfil" style="width: 100%; margin-top: -100px;height: 450px; margin-left: -20px;">
      <div style = "font-family: Sora-Regular, Helvetica;font-weight: 800;font-size: 80px;text-align: center;color: rgba(26, 53, 199, 1);margin-top:20px;">Bienvenidos</div>
      <div style = "font-family: Sora-Regular, Helvetica;font-weight: 800;font-size: 80px;text-align: center;color: rgba(26, 53, 199, 1);margin-top:20px;">A Inscripciones </div>
      <div style = "font-family: Sora-Regular, Helvetica;font-weight: 800;font-size: 80px;text-align: center;color: rgba(26, 53, 199, 1);margin-top:20px;">Jóvenes Aventureros</div>
    </div>
  </div>
<div class="bo">
    
</div>
{% endblock %}  
