{% extends "jovenesAventureros/base.html" %}
{% load crispy_forms_tags %}

{% load static %}

{% block content %}
<p class="gestiones">Rutas Realizadas</p>
  <div class="overlap-groupRegister">
  <div class="contenedorFormularioSocio">
    <table class ="table" style="margin-left: -65px;">
      <thead>
        <tr>
          <th class="th">Nombre</th>
          <th class="th">Destino</th>
          <th class="th">Fecha</th>
          <th class="th">Distancia</th>
          <th class="th">Dificultad</th>
          <th class="th">Recaudación Socios</th>
          <th class="th">Recaudación No Socios</th>
          <th class="th">Precio Socio</th>
          <th class="th">Precio No Socio</th>

        </tr>
      </thead>
      <tbody>
        {% for ins in entity %}
          <tr>
            <td class="td">{{ ins.nombre }}</td>
            <td class="td">{{ ins.destino }}</td>
            <td class="td">{{ ins.fecha }}</td>
            <td class="td">{{ ins.distancia }}</td>
            <td class="td">{{ ins.dificultad }}</td>
            <td class="td">{{ ins.precio_socio }}€</td>
            <td class="td">{{ ins.precio_no_socio }}€</td>
            <td class="td">{{ ins.recaudacion_socios }}€</td>
            <td class="td">{{ ins.recaudacion_no_socios }}€</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
     
{% include 'Socios/paginator.html' %}
      
  </div>
  </div>
  <div class="boIni">
</div>
{% endblock %}  