{% extends "jovenesAventureros/base.html" %}
{% load crispy_forms_tags %}
{% load widget_tweaks %}

{% load static %}

{% block content %}
<p class="gestiones" style="font-size: 35px; margin-top: -25px;margin-left: 40px;">Inscripcion Socio</p>
  <div class="overlap-groupRegister">
  <div class="contenedorFormularioPerfil" style="width: 70%; margin-top: -2px;">
    <form method="post" action="" style="color: rgb(9, 10, 11); text-align: center; margin-top: 30px;">
        {% csrf_token %}
        <div style="margin-top: 50px; color: rgba(26, 53, 199, 1); font-size: 30px; display: flex; flex-direction: column; align-items: center;">
            {% if mensaje %}
            <div style="color: red; margin-bottom: 20px;">{{ mensaje }}</div>
            {% endif %}
            <div style="display: flex; justify-content: space-around; width: 90%;">
                <div style="width: 45%;">
                    <div style="margin-left: -40px;">Nombre:<br></div>
                    <div style="margin-left: -20px;">Apellidos:<br></div>
                    <div style="margin-left: -40px;">Ruta:<br></div>
                    <div style="margin-left: -40px;">Precio:<br></div> 
                    <div style="margin-left: -40px;">Intermedios:<br></div>
                    <div style="margin-left: -40px;">Último:<br></div>
                    <div style="margin-left: -40px;">Seleccione Asiento:<br></div>
                    <div style="margin-left: -40px;">Guia:<br></div>

                </div>
                <div style="width: 45%;">
                  <div style="margin-left: -230px;">{{socio.nombre}}</div>
                  <div style="margin-left: -230px;">{{socio.apellidos}}</div>
                  <div style="margin-left: -160px;">{{inscripcion.nombre}}</div>
                  <div style="margin-left: -275px;">{{precio}}€</div>
                  {% if total_intermedio %}
                  <div style="margin-left: -160px; color: red;">{{total_intermedio|join:", " }}</div>
                  <div style="margin-left: -275px; color: red;">{{total}}</div>
                  {% else %}
                  <div style="margin-left: -160px; color: red;">Sin asientos intermedios</div>
                  <div style="margin-left: -275px; color: red;">{{total}}</div>
                  {% endif %}
                  <div style="margin-left: -220px; margin-bottom: 50px;">{{ formulario.asiento_bus|add_class:"small-input" }}</div>
                  <div style="margin-left: -700px; margin-bottom: 30px;margin-top: -50px;">{{ formulario.guia|add_class:"bigger-input" }}</div>
                </div>
            </div>
        </div>
        <button type="submit" class="btn btn-success" style="margin-top: -5px; margin-bottom: 15px;background-color:rgba(26, 53, 199, 1); border-radius: 10px; color: #FBF707; width: 25%;font-size: 20px;margin-left: 30px;">Inscribir</button>
        <button type="submit" class="btn btn-success" style="margin-top: -5px; margin-bottom: 15px;background-color:rgba(26, 53, 199, 1); border-radius: 10px; color: #FBF707; width: 25%;font-size: 20px;margin-left: 20px;"><a href="{% url 'Usuarios Inscritos' inscripcion.id %}" style="color:  #FBF707">Inscritos</a></button>
    </form>
  </div>
  </div>
  <div class="boRE">
</div>
{% endblock %}  