{% extends "jovenesAventureros/base.html" %}
{% load crispy_forms_tags %}

{% load static %}

{% block content %}
<p class="perfil" style="margin-top: 20px;margin-left: -90px;">Inscripción A Ruta Telemático</p>
  <div class="overlap-groupRegister">
  <div class="contenedorFormularioIns">
    <form method="post" action="" style="color: rgb(9, 10, 11); text-align: center; margin-top: 30px;">
        {% csrf_token %}
        <div style="margin-top: 50px; color: rgba(26, 53, 199, 1); font-size: 30px; display: flex; flex-direction: column; align-items: center;">
            {% if mensaje %}
            <div style="color: red; margin-bottom: 70px;">{{ mensaje }}</div>
            {% endif %}
            <div style="display: flex; justify-content: space-around;">
                <div style="width: 100%;">
                    Nombre: {{socio.nombre}}<br>
                    Apellido: {{ socio.apellido}}<br>
                    Ruta: {{inscripcion.nombre}}<br>
                    Precio: {{precio}}€<br>
                    {{formulario.asiento_bus|as_crispy_field }}

                </div>
            </div>
        </div>
        <button type="submit" class="btn btn-success" style="margin-top: 5px; margin-bottom: 15px;background-color:rgba(26, 53, 199, 1); border-radius: 10px; color: #FBF707;">Validar</button>
    </form>
  </div>
  </div>
  <div class="boC">
</div>
{% endblock %}  