{% extends "jovenesAventureros/base.html" %}
{% load crispy_forms_tags %}

{% load static %}

{% block content %}

<div class="overlap-groupRegister">
  <p class="gestiones" style="font-size: 25px; margin-left: -660px; margin-top: -345px;">Ruta Activa</p>
  <div class="contenedorFormularioSocio">
    <table class ="table" style="margin-left: -70px; margin-top: 0px;">
        <thead>
          <tr>
            <th class="th">Nombre</th>
            <th class="th">Destino</th>
            <th class="th">Fecha</th>
            <th class="th">Distancia</th>
            <th class="th">Dificultad</th>
            <th class="th">Precio Socio</th>
            <th class="th">Precio No Socio</th>
            <th class="th">Recaudación Socios</th>
            <th class="th">Nº/PS</th>
            <th class="th">Recaudación <br>No Socios</th>
            <th class="th">Nº/PNS</th>
            <th class="th">Pago Metálico</th>
            <th class="th">Pago Banco</th>
            <th class="th">Actualizar Ruta</th>
            <th class="th">Inscritos</th>
            <th class="th">Cerrar Inscripción</th>
          </tr>
        </thead>
        <tbody>
          {% for ins in entity %}
            <tr>
              <td class="td">{{ ins.nombre }}</td>
              <td class="td">{{ ins.destino }}</td>
              <td class="td">{{ ins.fecha }}</td>
              <td class="td">{{ ins.distancia }}Km</td>
              <td class="td">{{ ins.dificultad }}</td>
              <td class="td">{{ ins.precio_socio }}€</td>
              <td class="td">{{ ins.precio_no_socio }}€</td>
              <td class="td">{{ ins.recaudacion_socios }}€</td>
              <td class="td">{{ ins.total_socios}}</td>
              <td class="td">{{ ins.recaudacion_no_socios }}€</td>
              <td class="td">{{ ins.total_no_socios }}</td>
              <td class="td">{{ ins.pago_metalico }}</td>
              <td class="td">{{ ins.pago_banco }}</td>
              <td class="td">
              <button type="submit" class="btn2 btn-success" style="margin-top: 2px; background-color: #FBF707; border-radius: 10px; color: rgba(26, 53, 199, 1);"><a href="{% url 'Actualizar Inscripcion' ins.id %}" style="color: rgba(26, 53, 199, 1);">Actualizar Inscripción</a></button>
              </td>
              <td class="td">
                <button type="submit" class="btn2 btn-success" style="margin-top: 2px; background-color: #FBF707; border-radius: 10px; color: rgba(26, 53, 199, 1);"><a href="{% url 'Usuarios Inscritos' ins.id %}" style="color: rgba(26, 53, 199, 1);">Inscritos</a></button>
            </td>
              <td class="td">
                <button type="submit" class="btn2 btn-success" style="margin-top: 2px; background-color: #FBF707; border-radius: 10px; color: rgba(26, 53, 199, 1);"><a href="{% url 'Cerrar Inscripcion' %}" style="color: rgba(26, 53, 199, 1);">Finalizar Inscripción</a></button>
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
      {% if total == 0 %}
      <button type="submit" class="btn2 btn-success" style="margin-top: 20px; margin-bottom: 20px;background-color: #FBF707; border-radius: 10px; color: rgba(26, 53, 199, 1); margin-left:1040px;padding: 10px 15px;"><a href="{% url 'Crear Inscripcion' %}" style="color: rgba(26, 53, 199, 1);">Activar Ruta</a></button><button type="submit" class="btn2 btn-success" style="margin-top: 20px; margin-bottom: 20px;background-color: #FBF707; border-radius: 10px; color: rgba(26, 53, 199, 1); margin-left:1040px;padding: 10px 15px;"><a href="{% url 'Incripciones Cerradas' %}" style="color: rgba(26, 53, 199, 1);">Rutas Realizadas</a></button>
      {% else %}
      <button type="submit" class="btn2 btn-success" style="margin-top: 20px; margin-bottom: 20px;background-color: #FBF707; border-radius: 10px; color: rgba(26, 53, 199, 1); margin-left:1120px;padding: 10px 15px;"><a href="{% url 'Incripciones Cerradas' %}" style="color: rgba(26, 53, 199, 1);">Rutas Realizadas</a></button>
      {% endif %}
     
      
  </div>
  </div>
  <div class="boCc">
</div>
{% endblock %}  