{% extends "jovenesAventureros/base.html" %}
{% load crispy_forms_tags %}

{% load static %}

{% block content %}
<div class="overlap-groupRegister">
  <p class="gestiones" style="font-size: 25px; margin-left: -660px; margin-top: -345px;">Rutas Realizadas</p>
  <div class="contenedorFormularioSocio">
    <table class ="table" style="margin-left: -70px; margin-top: 0px;">
      <thead>
        <tr>
          <th class="th">Nombre</th>
          <th class="th">Destino</th>
          <th class="th">Fecha</th>
          <th class="th">Distancia</th>
          <th class="th">Dificultad</th>
          <th class="th">Precio Socio</th>
          <th class="th">Precio No Socio</th>
          <th class="th">Recaudación Socios</th>
          <th class="th">Recaudación No Socios</th>
          <th class="th">Inscritos</th>
          <th class="th">Lista Bus</th>
          <th class="th">Lista Seguro</th>
        </tr>
      </thead>
      <tbody>
        {% for ins in entity %}
          <tr>
            <td class="td">{{ ins.nombre }}</td>
            <td class="td">{{ ins.destino }}</td>
            <td class="td">{{ ins.fecha }}</td>
            <td class="td">{{ ins.distancia }}Km</td>
            <td class="td">{{ ins.dificultad }}</td>
            <td class="td">{{ ins.precio_socio }}€</td>
            <td class="td">{{ ins.precio_no_socio }}€</td>
            <td class="td">{{ ins.recaudacion_socios }}€</td>
            <td class="td">{{ ins.recaudacion_no_socios }}€</td>
            <td class="td">
              <button type="submit" class="btn2 btn-success" style="margin-top: 2px; background-color: #FBF707; border-radius: 10px; color: rgba(26, 53, 199, 1);"><a href="{% url 'Usuarios Inscritos' ins.id %}" style="color: rgba(26, 53, 199, 1);">Inscritos</a></button>
          </td>
            <td class="td">
              <button type="submit" class="btn2 btn-success" style="margin-top: 2px; background-color: #FBF707; border-radius: 10px; color: rgba(26, 53, 199, 1);"><a href="{% url 'Exportar a PDF' ins.id%}" style="color: rgba(26, 53, 199, 1);">Exportar</a></button>
            </td>
            <td class="td">
              <button type="submit" class="btn2 btn-success" style="margin-top: 2px; background-color: #FBF707; border-radius: 10px; color: rgba(26, 53, 199, 1);"><a href="{% url 'Exportar a PDF V2' ins.id%}" style="color: rgba(26, 53, 199, 1);">Exportar</a></button>
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
     
{% include 'Socios/paginator.html' %}
      
  </div>
  </div>
  <div class="boIni">
</div>
{% endblock %}  