{% extends "jovenesAventureros/base.html" %}
{% load crispy_forms_tags %}

{% load static %}

{% block content %}
  <div class="overlap-groupRegister">
    <p class="gestiones" style="font-size: 25px; margin-left: -660px; margin-top: -340px;">Ruta "{{nombre}}"</p>
  <div class="contenedorFormularioSocio">
    <table class ="table" style="margin-left: -70px; margin-top: 0px;">
      <thead>
        <tr>
          <th class="th">Nº Socio</th>
          <th class="th">Socio</th>
          <th class="th">P/B</th>
          <th class="th">Apellidos</th>
          <th class="th">Nombre</th>
          <th class="th">Nº Bus</th>
          <th class="th">Nº Asiento</th>
          <th class="th">Ticket</th>
          <th class="th">Eliminar</th>
        </tr>
      </thead>
      <tbody>
        {% for ins in entity %}
          <tr>
            <td class="td">{{ ins.socios.numero_socio }}</td>
            {% if ins.socios.socio is False %}
              <td class="tdr"></td>
              {% else %}
              <td class="tdv"></td>
              {% endif %}
            {% if ins.pago is False %}
              <td class="tde"></td>
              {% else %}
              <td class="tdv"></td>
              {% endif %}
            <td class="td">{{ ins.socios.apellidos }}</td>
            <td class="td">{{ ins.socios.nombre }}</td>
            <td class="td">{{ ins.numero_bus }}</td>
            <td class="td">{{ ins.asiento_bus }}</td>
            <td class="td">
              <button type="submit" class="btn2 btn-success" style="margin-top: 2px; background-color: #FBF707; border-radius: 10px; color: rgba(26, 53, 199, 1);"><a href="{% url 'Exportar Ticket V2' ins.inscripcion.id ins.socios.id%}" style="color: rgba(26, 53, 199, 1);">Imprimir</a></button>
            </td>
            <td class="td">
              <button type="submit" class="btn2 btn-success" style="margin-top: 2px; background-color: #FBF707; border-radius: 10px; color: rgba(26, 53, 199, 1);"><a href="{% url 'Eliminar Socio Inscripcion' ins.inscripcion.id ins.socios.id%}" style="color: rgba(26, 53, 199, 1);">Borrar</a></button>
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
     
      
  </div>
  </div>

{% endblock %}  