{% extends "jovenesAventureros/base.html" %}
{% load crispy_forms_tags %}

{% load static %}

{% block content %}
  <div class="overlap-groupRegister">
    <p class="gestiones" style="font-size: 25px; margin-left: -660px; margin-top: -345px;">Gestión de Usuarios</p>
    <form action="buscar/" method="GET" style="margin-left: 850px; margin-top: -30px;margin-bottom: 20px;">
      <input type="text" name="usern">
      <button class="btn2 btn-success" style="background-color: #FBF707;color: rgba(26, 53, 199, 1);">Buscar Usuario</button>
  </form>
  <button type="submit" class="btn2 btn-success" style="margin-top: 10px; margin-bottom: 20px;background-color: #FBF707; border-radius: 10px; color: rgba(26, 53, 199, 1); margin-left:1040px;padding: 10px 15px;"><a href="{% url 'Crear Socios' %}" style="color: rgba(26, 53, 199, 1);">Inscribir Usuario</a></button>
    </div>
{% endblock %}  