{% extends "jovenesAventureros/base.html" %}
{% load crispy_forms_tags %}

{% load static %}

{% block content %}
  <div class="overlap-groupRegister">
    <p class="gestiones" style="font-size: 25px; margin-left: -670px; margin-top: -340px;">Usuarios Socios</p>
    <form action="mostrarUsuariosSocios/buscar/" method="GET" style="margin-left: 880px; margin-top: -30px;margin-bottom: 20px;">
      <input type="text" name="usern">
      <button class="btn2 btn-success" style="background-color: #FBF707;color: rgba(26, 53, 199, 1);">Buscar Socio</button>
  </form>
  <div class="contenedorFormularioSocio">
    <table class ="table" style="margin-left: -70px; margin-top: 0px;">
        <thead>
          <tr>
            <th class="th">Nº Socio</th>
            <th class="th">Socio</th>
            <th class="th">Apellidos</th>
            <th class="th">Nombre</th>
            <th class="th">DNI</th>
            <th class="th">Fecha</th>
            <th class="th">Telefono</th>
            <th class="th">Ciudad</th>
            <th class="th">Provincia</th>
            <th class="th">Talla</th>
            <th class="th">Regalo</th>
            <th class="th">Actualizar Socios</th>
            {% if num_inscripcion != 0 %}
            <th class="th">Inscribir a Ruta</th>
            {% endif %}
          </tr>
        </thead>
        <tbody>
          {% for socio in entity %}
            <tr>
              <td class="td">{{ socio.numero_socio}}</td>
              {% if socio.socio is False %}
              <td class="tdr"></td>
              {% else %}
              <td class="tdv"></td>
              {% endif %}
              <td class="td">{{ socio.apellidos}}</td>
              <td class="td">{{ socio.nombre}}</td>
              <td class="td">{{ socio.dni }}</td>
              <td class="td">{{ socio.fecha_nacimiento }}</td>
              <td class="td">{{ socio.telefono }}</td>
              <td class="td">{{ socio.ciudad }}</td>
              <td class="td">{{ socio.provincia }}</td>
              <td class="td">{{ socio.talla_camiseta }}</td>
              {% if socio.regalo is False %}
              <td class="tdr" style="color: aliceblue;"></td>
              {% else %}
              <td class="tdv" style="color: aliceblue;"></td>
              {% endif %}
              <td class="td">
              <button type="submit" class="btn2 btn-success" style="margin-top: 2px; background-color: #FBF707; border-radius: 10px; color: rgba(26, 53, 199, 1);"><a href="{% url 'Actualizar Socios' socio.id %}" style="color: rgba(26, 53, 199, 1);">Actualizar Socio</a></button>
              </td>
              {% if num_inscripcion != 0 %}
              <td class="td">
                <button type="submit" class="btn2 btn-success" style="margin-top: 2px; background-color: #FBF707; border-radius: 10px; color: rgba(26, 53, 199, 1);"><a href="{% url 'Inscribir Socios' socio.id %}" style="color: rgba(26, 53, 199, 1);">Metálico</a></button>
                <button type="submit" class="btn2 btn-success" style="margin-top: 2px; background-color: #FBF707; border-radius: 10px; color: rgba(26, 53, 199, 1);"><a href="{% url 'Inscribir Socios B' socio.id %}" style="color: rgba(26, 53, 199, 1);">Banco</a></button>
              </td>
              {% endif %}
            </tr>
          {% endfor %}
        </tbody>
      </table>
      
      
  </div>
  </div>
{% endblock %}  